.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.header__icon {
  display: flex;
  align-items: center;
}

.header__icon > h4 {
  font-size: 20px;
  margin-block: 0;
  margin-left: 8px;
}
